<div class="page-header" data-parallax="true" style="background-image: url('assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>I'm here to create meaningful and lasting relationships with my clients.</h3>
                <h1>LET'S BUILD SOMETHING AMAZING TOGETHER</h1>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/contact']">Contact<i class="fa fa-angle-double-right" style="color:red"></i></button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk about what I have Done</h2>
                    <div class="tim-title">
                      <h3><b>Shopaye (Ecommerce Application)</b></h3>
                    </div>
                <h5 class="description">I have worked on Project Shopaye (Shop Pay & Earn) Application as Developer <b class="icon icon-danger"> (Node.js & AngularJS)</b>. We have learned new Technologies and implemented on this application, Parallelly working on Mobile Application(Android & IOS) using Ionic Framework.</h5>
                <br>
                <a  class="btn btn-danger btn-round"  [routerLink]="['/project']">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                      <i class="fa fa-android" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-album-2"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">Android</h4>
                        <p class="description">Using Ionic Framework to build Android Application</p>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                      <i class="fa fa-apple" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">IOS</h4>
                        <p>Using Ionic Framework to build IOS Application</p>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                    <i class="fa fa-amazon" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">AWS</h4>
                        <p>AWS(Amazon Web Services) / EC2 & RDS</p>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">Bitbucket</h4>
                        <p>Version Control ( GIT )</p>
                     </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
        <div class="col-md-3">
            <div class="info">
                <div class="icon icon-danger">
                  <i class="fa fa-database" aria-hidden="true"></i>
                    <!-- <i class="nc-icon nc-bulb-63"></i> -->
                </div>
                <div class="description">
                    <h4 class="info-title">MYSQL</h4>
                    <p>MYSQL Database </p>
                 </div>
            </div>
        </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                      <i class="fa fa-code" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-album-2"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">AngualarJS</h4>
                        <p class="description"> AngualarJS / (HTML5,CSS3)</p>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                    <i class="fa fa-code" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">NODE.JS</h4>
                        <p>Working on Node.js / Strongloop (Loopback)</p>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                      <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h4 class="info-title">Payment/ Wallet API's integration</h4>
                        <p>CCavenue/ paytm/ Oxizen api Integrations in Node.js</p>
                     </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about me</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">G Jyotheeswar Chowdary</h4>
                                <h6 class="card-category">Developer / Node.js</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
