<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <!-- <div class="angular-logo">
          <img src="assets/img/angular2-logo.png" alt="">
        </div> -->
        <h5 class="presentation-subtitle text-center">Find out what I've accomplished over the years</h5>
        <!-- <h3 class="presentation-title">DIG A LITTLE DEEPER</h3> -->
        <h1  class="creative-tim-logo">DIG A LITTLE DEEPER</h1>
        <div class="fog-low">
          <img src="assets/img/fog-low.png" alt="">
        </div>
        <div class="fog-low right">
          <img src="assets/img/fog-low.png" alt="">
        </div>
        <br/>
        <a href="https://www.codecademy.com/chowdaryg"  class="btn btn-outline-neutral btn-round" target="blank_url" >Resume <i class="fa fa-arrow-circle-down fa-1x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>
<div class="main">
  <!-- <app-components></app-components> -->
  <div class="section section-buttons">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="tim-title">
            <h3>Professional Summary</h3>
          </div>
        </div>
        <div class="col-sm-6 col-lg-8">
          <div class="tim-title">
            <h6>FULL STACK DEVELOPER / (NODE.JS, Angular, React)</h6>
          </div>
          <div class="form-check-radio">
             <p><b>*</b> Having <b>3.5</b> Years of experience in developing web based, client/server applications using NODE.JS/Angular/ReactJS technologies environment.</p>
             <p><b>*</b> Strong technical experience in NODE.js, AngularJS, Ionic Framework,AWS(Amazon Web Services), MogoDB (Mongoose),MYSQL (concepts like Joins, Stored Procedures & Triggers) technologies.</p>
             <p><b>*</b> Good understanding of Software Development Life Cycle (SDLC) process in the areas of Analysis, Design, Development, Implementation and Testing of Software Applications.
                Committed team player with strong analytical and problem solving skills and ability to quickly adapt to new environments and technologies.</p>
          </div>
        </div>
       </div>
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="tim-title">
        <h3>Professional Experience</h3>
      </div>
    </div>
    <div class="col-sm-6 col-lg-8">
      <div class="tim-title">
        <!-- <h6>DEVELOPER</h6> -->
      </div>
      <div class="form-check-radio">
        <label ><b>
          SmartERP Consulting India Pvt Ltd.</b>
         </label><br>
         <label >
          <a  href="https://www.smarterp.com/">SmartERP Consulting India Pvt Ltd.</a>,Bangalore, January 2019 – Present
          </label><br >
         <p>Consultant / Full Stack Developer.</p>
         <a href="">SmartML</a>
      </div>
      <br>
      <div class="form-check-radio">
        <label ><b>
           Develop Scripts LLC. / auctionsoftware.com</b>
         </label><br>
         <label >
          <a  href="http://developscripts.com/">Develop Scripts LLC.</a>,Chennai, January 2018 – January 2019
          </label><br >
         <p>Working  as Lead Developer for all Server side(Node.js)/web design(Angularjs) projects.</p>
         <a href="http://pipemarket.com/">Pipe Market</a>,
         <a href="https://auggeo.com/">Auggeo.com</a>, 
         <a href="https://www.slibuy.com/">Slibuy.com</a>,<br>
         <a href="https://sosrx.com/">Sosrx.com</a>,
         <a href="http://bargainwizz.com/">bargainwizz</a><br>
      </div>
      <br>
      <div class="form-check-radio">
        <label><b>
           HABILITER TECHNOLOGIES PVT LTD.</b>
         </label><br/>
         <label>
          <a href="http://habilitertechnologies.com/">habilitertechnologies.com</a>,Chennai, August 2016 – Present
          </label><br/><br/>
         <p>Acted as Lead Developer for all Server side(Node.js)/web design(Angularjs) projects. Worked closely with the Creative Director and Marketing Manager to coordinate timelines and develop project strategies. Organized all Server side API's/ web design operations and mentored a growing team of developers. Managed small and large scale projects, making sure expectations were surpassed and timelines were met. Experienced in programming, debugging and problem solving across a variety of open source platforms.</p>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h3>Technologies</h3>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h6>DAY-TO-DAY COMFORT</h6>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            GRUNT
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
           <h5>HTML5 (limited)</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>CSS3 (limited)</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>JavaScript/JQuery</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>Version Control ( GIT )</h5>
          </label>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h6>EXPERIENCE WITH</h6>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>Node.js</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>Angular/React</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>AWS</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>MYSQL/MongoDB</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>Ionic Framework</h5>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h5>Strongloop/Loopback</h5>
          </label>
       </div>
  </div>
</div>
   <div class="row">
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h3>Education</h3>
       </div>
     </div>
     <div class="col-sm-6 col-lg-8">
       <div class="tim-title">
         <!-- <h6>DEVELOPER</h6> -->
       </div>
       <div class="form-check-radio">
         <label>
             MASTER OF COMPUTER APPLICATIONS - (MCA).
          </label>
          <p>Sri Venkateswara Colllege of Engineering and Technology, 2013 - 2016</p>
          <label>79.5%</label>
       </div>
       <div class="form-check-radio">
         <label>
             Degree - (MPCS).
          </label>
          <p>Vijayam Degree College, 2010 - 2013</p>
          <label>76.08%</label>
       </div>
       <div class="form-check-radio">
         <label>
             INTERMEDIATE - (MPC).
          </label>
          <p>Vidhyarthi Junior College, 2013 - 2016</p>
          <label>56.76%</label>
       </div>
       <div class="form-check-radio">
         <label>
             S.S.C.
          </label>
          <p>Royal English Medium High School, 2008</p>
          <label>79.78%</label>
       </div>
     </div>
    </div>
  </div>
 </div>
 <div class="page-header" data-parallax="true" style="background-image: url('assets/img/daniel-olahh.jpg');">
     <div class="filter"></div>
     <div class="container">
         <div class="motto text-center">
             <h3>I'm here to create meaningful and lasting relationships with my clients.</h3>
                 <h1>LET'S BUILD SOMETHING AMAZING TOGETHER</h1>
             <br />
             <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
             <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/contact']">Contact<i class="fa fa-angle-double-right" style="color:red"></i></button>
         </div>
     </div>
 </div>
</div>
